In [ ]:
#1 Python program to enter and display student details
name=input("Enter the name of student")
rno=int(input("Enter the roll number"))
mark=int(input("Enter the mark"))
print("Name of student :",name)
print("Roll No :",rno)
print("Mark :",mark)

Enter the name of studentFousiya
Enter the roll number12
Enter the mark90
Name of student : Fousiya
Roll No : 12
Mark : 90

In [ ]:
#2 Python program to convert tempearture to and from celsius to farenheit
cl=int(input("Enter the temperature in celsius"))
f=cl*(9/5)+32
print("Temperature in farenheit =",f)
ft=int(input("Enter the temperature in farenheit"))
c=(ft-32)*5/9
print("Temperature in celsius =",c)

Enter the temperature in celsius8
Temperature in farenheit = 46.4
Enter the temperature in farenheit46
Temperature in celsius = 7.777777777777778

In [ ]:
#3 Python program to accept two numbers and display their products
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
c=a*b
print("Product Value of two numbers =",c)

Enter the first number5
Enter the second number2
Product Value of two numbers = 10

In [5]:
#4 Python program to accept and display the string

st="Learn Python by developing a website"
index = st.find('Python')
index1 = st.find('by')
index2=st.find('a')
index3=st.find('website')
stng = st[:index] + '**'+st[index:index1]+'**'+st[index1:index3] +'**'+st[index3:]+'**'
print(stng)

Learn **Python **by developing a **website**

In [ ]:
#5 Python program to accept the radius and display its area
r=int(input("Enter the radius of the circle"))
Area=3.14*r*r
print("Area of circle =",Area)

Enter the radius of the circle3
Area of circle = 28.259999999999998

In [ ]:
#6 Python program to insert a number to any position in a list 
names=['arjun','John','Simi','Liya']
st=input("Enter the name to be inserted")
p=int(input("Enter the position to which new name to be inserted"))
names.insert(p,st)
print("List after insertion")
print(names)

Enter the name to be insertedSona
Enter the position to which new name to be inserted2
List after insertion
['arjun', 'John', 'Sona', 'Simi', 'Liya']

In [ ]:
#7 Python program to rename a key city to location in a dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['location']=sample_dict['city']
del sample_dict['city']
print("After changing the key city to location")
sample_dict

After changing the key city to location

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [ ]:
#8 Python program to change the value of a dictionary
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8600
print("After changing the salary of Brad to 8600")
sample_dict

After changing the salary of Brad to 8600

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8600}}

In [ ]:
#9 Python program to copy elements from a tuple and create a new tuple
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=(tuple1[2], tuple1[3])
print("After copying to a new tuple :")
tuple2

After copying to a new tuple :

(43, 54)

In [6]:
#10 Python program to count the occurance of a number in a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
print("Occurance of number 50:")
tuple1.count(50)

Occurance of number 50:

3